/* Add your styles here */

.index {
    background-color: #3c3c3b; /* Palette */
}

.my-map {
    width: 98%;
}

.my-trend svg {
    margin: 0 1%;
    width: 98%;
}

.title {
    width: 100%;
    align-items: center;
}

h4 {
    line-height: 25px;
}

.footer a{
    color: #3c3c3b; /* Palette */
}

.footer a:focus, .footer a:hover {
    color: #3c3c3b; /* Palette */
}

/* svg */

.viz-small {
    width: 100%;
    margin: 10px 0 20px;
}

#SFONDO{
    opacity: 1;
}

svg > g {
	opacity:0;
	display: block;
	transition: all, 0.2s;
}

svg > g:hover {
	opacity: 1
}

.none:hover {
    opacity:0;
}


/* gif button */

.gif {
    padding: 30px;
    width: 500px;
}

.btn {
    font-family: Karla;
    font-size: 14px;
    transition: .2s;
    padding-right: 8px;
    padding-left: 0px;
    padding-top: 10px;
  }

.btn-default {
    background-color: transparent;
    border-color: transparent;
    color: #2D2D2C;
    letter-spacing: 1px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default:active, 
.open > .dropdown-toggle.btn-default {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #FCC64F;
    text-decoration: underline;
}

.btn:hover, .btn:focus {
    background-color: transparent;
    color: #FCC64F;
    text-decoration: underline 1pt;
    letter-spacing: 1px;
  }


@media (max-width: 1024px) {
    .gif {
      width: 450px;
    }
    svg {
        height: 450px;
    }
    #viz {
        height: 450px;
    }
    .my-trend {
        height: 420px;
    }
}

@media (max-width: 768px) {
    .gif {
      width: 420px;
    }
    svg {
      height: 350px;
    }
    #viz {
      height: 350px;
    }
    .my-trend {
      height: 320px;
    }
}

@media (max-width: 414px) {
    .gif {
      width: 300px;
    }
    svg {
      height: 180px;
    }
    #viz {
      height: 180px;
    }
    .my-trend {
      height: 120px;
    }
}

@media (max-width: 375px) {
    .gif {
      width: 300px;
    }
}

@media (max-width: 320px) {
    .gif {
      width: 250px;
    }
}