#timeline {
    width: 100%;
}

#_2015:hover .cls-2 {
    opacity: 1;
}

#_2015:hover .cls-22 {
    opacity: 1;
}

#_2015:hover .cls-36 {
    opacity: 1;
}

#_2015:hover .cls-23 {
    opacity: 1;
}

#_2015:hover .cls-27 {
    opacity: 1;
}

#_2015:hover .cls-28 {
    opacity: 1;
}

#_2015:hover .cls-29 {
    opacity: 1;
}

#_2015:hover .cls-34 {
    opacity: 1;
}

#_2015:hover .cls-35 {
    opacity: 1;
}

#_2014:hover .cls-2 {
    opacity: 1;
}

#_2014:hover .cls-22 {
    opacity: 1;
}

#_2014:hover .cls-36 {
    opacity: 1;
}

#_2014:hover .cls-23 {
    opacity: 1;
}

#_2014:hover .cls-27 {
    opacity: 1;
}

#_2014:hover .cls-28 {
    opacity: 1;
}

#_2014:hover .cls-29 {
    opacity: 1;
}

#_2014:hover .cls-34 {
    opacity: 1;
}

#_2014:hover .cls-35 {
    opacity: 1;
}

#_2013:hover .cls-2 {
    opacity: 1;
}

#_2013:hover .cls-22 {
    opacity: 1;
}

#_2013:hover .cls-36 {
    opacity: 1;
}

#_2013:hover .cls-23 {
    opacity: 1;
}

#_2013:hover .cls-27 {
    opacity: 1;
}

#_2013:hover .cls-28 {
    opacity: 1;
}

#_2013:hover .cls-29 {
    opacity: 1;
}

#_2013:hover .cls-34 {
    opacity: 1;
}

#_2013:hover .cls-35 {
    opacity: 1;
}

#_2012:hover .cls-2 {
    opacity: 1;
}

#_2012:hover .cls-22 {
    opacity: 1;
}

#_2012:hover .cls-36 {
    opacity: 1;
}

#_2012:hover .cls-23 {
    opacity: 1;
}

#_2012:hover .cls-27 {
    opacity: 1;
}

#_2012:hover .cls-28 {
    opacity: 1;
}

#_2012:hover .cls-29 {
    opacity: 1;
}

#_2011:hover .cls-2 {
    opacity: 1;
}

#_2011:hover .cls-22 {
    opacity: 1;
}

#_2011:hover .cls-36 {
    opacity: 1;
}

#_2011:hover .cls-23 {
    opacity: 1;
}

#_2011:hover .cls-27 {
    opacity: 1;
}

#_2011:hover .cls-28 {
    opacity: 1;
}

#_2011:hover .cls-29 {
    opacity: 1;
}

#_2011:hover text {
    opacity: 1;
}

#_2010:hover .cls-2 {
    opacity: 1;
}

#_2010:hover .cls-22 {
    opacity: 1;
}

#_2010:hover .cls-36 {
    opacity: 1;
}

#_2010:hover .cls-23 {
    opacity: 1;
}

#_2010:hover .cls-27 {
    opacity: 1;
}

#_2010:hover .cls-28 {
    opacity: 1;
}

#_2010:hover .cls-29 {
    opacity: 1;
}

#_2010:hover .cls-33 {
    opacity: 1;
}

#_2010:hover .cls-34 {
    opacity: 1;
}

#_2010:hover .cls-35 {
    opacity: 1;
}

#_2009:hover .cls-2 {
    opacity: 1;
}

#_2009:hover .cls-22 {
    opacity: 1;
}

#_2009:hover .cls-36 {
    opacity: 1;
}

#_2009:hover .cls-23 {
    opacity: 1;
}

#_2009:hover .cls-27 {
    opacity: 1;
}

#_2009:hover .cls-28 {
    opacity: 1;
}

#_2009:hover .cls-29 {
    opacity: 1;
}

#_2009:hover .cls-33 {
    opacity: 1;
}

#_2009:hover .cls-34 {
    opacity: 1;
}

#_2009:hover .cls-35 {
    opacity: 1;
}

#_2008:hover .cls-2 {
    opacity: 1;
}

#_2008:hover .cls-22 {
    opacity: 1;
}

#_2008:hover .cls-36 {
    opacity: 1;
}

#_2008:hover .cls-23 {
    opacity: 1;
}

#_2008:hover .cls-27 {
    opacity: 1;
}

#_2008:hover .cls-28 {
    opacity: 1;
}

#_2008:hover .cls-29 {
    opacity: 1;
}

#_2008:hover .cls-33 {
    opacity: 1;
}

#_2008:hover .cls-34 {
    opacity: 1;
}

#_2008:hover .cls-35 {
    opacity: 1;
}

#_2007:hover .cls-2 {
    opacity: 1;
}

#_2007:hover .cls-22 {
    opacity: 1;
}

#_2007:hover .cls-36 {
    opacity: 1;
}

#_2007:hover .cls-23 {
    opacity: 1;
}

#_2007:hover .cls-27 {
    opacity: 1;
}

#_2007:hover .cls-28 {
    opacity: 1;
}

#_2007:hover .cls-29 {
    opacity: 1;
}

#_2007:hover .cls-34 {
    opacity: 1;
}

#_2007:hover .cls-35 {
    opacity: 1;
}

#_2006:hover .cls-2 {
    opacity: 1;
}

#_2006:hover .cls-22 {
    opacity: 1;
}

#_2006:hover .cls-36 {
    opacity: 1;
}

#_2006:hover .cls-23 {
    opacity: 1;
}

#_2006:hover .cls-27 {
    opacity: 1;
}

#_2006:hover .cls-28 {
    opacity: 1;
}

#_2006:hover .cls-29 {
    opacity: 1;
}

#_2006:hover .cls-33 {
    opacity: 1;
}

#_2006:hover .cls-34 {
    opacity: 1;
}

#_2006:hover .cls-35 {
    opacity: 1;
}

#_2005:hover .cls-2 {
    opacity: 1;
}

#_2005:hover .cls-22 {
    opacity: 1;
}

#_2005:hover .cls-36 {
    opacity: 1;
}

#_2005:hover .cls-23 {
    opacity: 1;
}

#_2005:hover .cls-27 {
    opacity: 1;
}

#_2005:hover .cls-28 {
    opacity: 1;
}

#_2005:hover .cls-29 {
    opacity: 1;
}

#_2005:hover .cls-34 {
    opacity: 1;
}

#_2005:hover .cls-35 {
    opacity: 1;
}

#_2004:hover .cls-2 {
    opacity: 1;
}

#_2004:hover .cls-22 {
    opacity: 1;
}

#_2004:hover .cls-36 {
    opacity: 1;
}

#_2004:hover .cls-23 {
    opacity: 1;
}

#_2004:hover .cls-27 {
    opacity: 1;
}

#_2004:hover .cls-28 {
    opacity: 1;
}

#_2004:hover .cls-29 {
    opacity: 1;
}

#_2004:hover .cls-34 {
    opacity: 1;
}

#_2004:hover .cls-35 {
    opacity: 1;
}

#_2003:hover .cls-2 {
    opacity: 1;
}

#_2003:hover .cls-22 {
    opacity: 1;
}

#_2003:hover .cls-36 {
    opacity: 1;
}

#_2003:hover .cls-23 {
    opacity: 1;
}

#_2003:hover .cls-27 {
    opacity: 1;
}

#_2003:hover .cls-28 {
    opacity: 1;
}

#_2003:hover .cls-29 {
    opacity: 1;
}

#_2003:hover .cls-34 {
    opacity: 1;
}

#_2003:hover .cls-35 {
    opacity: 1;
}

#_2002:hover .cls-23 {
    opacity: 1;
}

#_2002:hover .cls-2 {
    opacity: 1;
}

#_2002:hover .cls-22 {
    opacity: 1;
}

#_2002:hover .cls-36 {
    opacity: 1;
}

#_2002:hover .cls-27 {
    opacity: 1;
}

#_2002:hover .cls-28 {
    opacity: 1;
}

#_2002:hover .cls-29 {
    opacity: 1;
}

#_2002:hover .cls-34 {
    opacity: 1;
}

#_2002:hover .cls-35 {
    opacity: 1;
}

#_2001:hover .cls-2 {
    opacity: 1;
}

#_2001:hover .cls-22 {
    opacity: 1;
}

#_2001:hover .cls-36 {
    opacity: 1;
}

#_2001:hover .cls-23 {
    opacity: 1;
}

#_2001:hover .cls-27 {
    opacity: 1;
}

#_2001:hover .cls-28 {
    opacity: 1;
}

#_2001:hover .cls-29 {
    opacity: 1;
}

#_2001:hover .cls-34 {
    opacity: 1;
}

#_2001:hover .cls-35 {
    opacity: 1;
}

#_2000:hover .cls-2 {
    opacity: 1;
}

#_2000:hover .cls-22 {
    opacity: 1;
}

#_2000:hover .cls-36 {
    opacity: 1;
}

#_2000:hover .cls-23 {
    opacity: 1;
}

#_2000:hover .cls-27 {
    opacity: 1;
}

#_2000:hover .cls-28 {
    opacity: 1;
}

#_2000:hover .cls-29 {
    opacity: 1;
}

#_2000:hover .cls-34 {
    opacity: 1;
}

#_2000:hover .cls-35 {
    opacity: 1;
}

#_1999:hover .cls-2 {
    opacity: 1;
}

#_1999:hover .cls-22 {
    opacity: 1;
}

#_1999:hover .cls-36 {
    opacity: 1;
}

#_1999:hover .cls-23 {
    opacity: 1;
}

#_1999:hover .cls-27 {
    opacity: 1;
}

#_1999:hover .cls-28 {
    opacity: 1;
}

#_1999:hover .cls-29 {
    opacity: 1;
}

#_1999:hover .cls-34 {
    opacity: 1;
}

#_1999:hover .cls-35 {
    opacity: 1;
}

#_1998:hover .cls-2 {
    opacity: 1;
}

#_1998:hover .cls-22 {
    opacity: 1;
}

#_1998:hover .cls-36 {
    opacity: 1;
}

#_1998:hover .cls-23 {
    opacity: 1;
}

#_1998:hover .cls-27 {
    opacity: 1;
}

#_1998:hover .cls-28 {
    opacity: 1;
}

#_1998:hover .cls-29 {
    opacity: 1;
}

#_1998:hover .cls-34 {
    opacity: 1;
}

#_1998:hover .cls-35 {
    opacity: 1;
}

#_1997:hover .cls-2 {
    opacity: 1;
}

#_1997:hover .cls-22 {
    opacity: 1;
}

#_1997:hover .cls-36 {
    opacity: 1;
}

#_1997:hover .cls-23 {
    opacity: 1;
}

#_1997:hover .cls-27 {
    opacity: 1;
}

#_1997:hover .cls-28 {
    opacity: 1;
}

#_1997:hover .cls-29 {
    opacity: 1;
}

#_1997:hover .cls-34 {
    opacity: 1;
}

#_1997:hover .cls-35 {
    opacity: 1;
}

#_1996:hover .cls-2 {
    opacity: 1;
}

#_1996:hover .cls-22 {
    opacity: 1;
}

#_1996:hover .cls-36 {
    opacity: 1;
}

#_1996:hover .cls-23 {
    opacity: 1;
}

#_1996:hover .cls-27 {
    opacity: 1;
}

#_1996:hover .cls-28 {
    opacity: 1;
}

#_1996:hover .cls-29 {
    opacity: 1;
}

#_1996:hover .cls-34 {
    opacity: 1;
}

#_1996:hover .cls-35 {
    opacity: 1;
}

#_1995:hover .cls-2 {
    opacity: 1;
}

#_1995:hover .cls-22 {
    opacity: 1;
}

#_1995:hover .cls-36 {
    opacity: 1;
}

#_1995:hover .cls-23 {
    opacity: 1;
}

#_1995:hover .cls-27 {
    opacity: 1;
}

#_1995:hover .cls-28 {
    opacity: 1;
}

#_1995:hover .cls-29 {
    opacity: 1;
}

#_1995:hover .cls-34 {
    opacity: 1;
}

#_1995:hover .cls-35 {
    opacity: 1;
}

#_1994:hover .cls-2 {
    opacity: 1;
}

#_1994:hover .cls-22 {
    opacity: 1;
}

#_1994:hover .cls-36 {
    opacity: 1;
}

#_1994:hover .cls-23 {
    opacity: 1;
}

#_1994:hover .cls-27 {
    opacity: 1;
}

#_1994:hover .cls-28 {
    opacity: 1;
}

#_1994:hover .cls-29 {
    opacity: 1;
}

#_1994:hover .cls-34 {
    opacity: 1;
}

#_1994:hover .cls-35 {
    opacity: 1;
}

#_1992:hover .cls-2 {
    opacity: 1;
}

#_1992:hover .cls-22 {
    opacity: 1;
}

#_1992:hover .cls-36 {
    opacity: 1;
}

#_1992:hover .cls-23 {
    opacity: 1;
}

#_1992:hover .cls-27 {
    opacity: 1;
}

#_1992:hover .cls-28 {
    opacity: 1;
}

#_1992:hover .cls-29 {
    opacity: 1;
}

#_1992:hover .cls-34 {
    opacity: 1;
}

#_1992:hover .cls-35 {
    opacity: 1;
}

#_1990:hover .cls-2 {
    opacity: 1;
}

#_1990:hover .cls-22 {
    opacity: 1;
}

#_1990:hover .cls-36 {
    opacity: 1;
}

#_1990:hover .cls-23 {
    opacity: 1;
}

#_1990:hover .cls-27 {
    opacity: 1;
}

#_1990:hover .cls-28 {
    opacity: 1;
}

#_1990:hover .cls-29 {
    opacity: 1;
}

#_1990:hover .cls-34 {
    opacity: 1;
}

#_1990:hover .cls-35 {
    opacity: 1;
}

#_1988:hover .cls-2 {
    opacity: 1;
}

#_1988:hover .cls-22 {
    opacity: 1;
}

#_1988:hover .cls-36 {
    opacity: 1;
}

#_1988:hover .cls-23 {
    opacity: 1;
}

#_1988:hover .cls-27 {
    opacity: 1;
}

#_1988:hover .cls-28 {
    opacity: 1;
}

#_1988:hover .cls-29 {
    opacity: 1;
}

#_1988:hover .cls-34 {
    opacity: 1;
}

#_1988:hover .cls-35 {
    opacity: 1;
}


/*global investment line*/

#moneyline {
    margin-left: 100px;
    width: 95%;
}


/*distributors*/


/*multi distributor*/

#m-distributor {
    width: 85%;
}

#md24:hover .mdistrib4 {
    fill: #CC4754;
}

#md24:hover text {
    opacity: 1;
}

#md23:hover .mdistrib4 {
    fill: #CC4754;
}

#md23:hover text {
    opacity: 1;
}

#md22:hover .mdistrib4 {
    fill: #CC4754;
}

#md22:hover text {
    opacity: 1;
}

#md21:hover .mdistrib4 {
    fill: #CC4754;
}

#md21:hover text {
    opacity: 1;
}

#md20:hover .mdistrib4 {
    fill: #CC4754;
}

#md20:hover text {
    opacity: 1;
}

#md19:hover .mdistrib4 {
    fill: #CC4754;
}

#md19:hover text {
    opacity: 1;
}

#md18:hover .mdistrib4 {
    fill: #CC4754;
}

#md18:hover text {
    opacity: 1;
}

#md17:hover .mdistrib4 {
    fill: #CC4754;
}

#md17:hover text {
    opacity: 1;
}

#md16:hover .mdistrib4 {
    fill: #CC4754;
}

#md16:hover text {
    opacity: 1;
}

#md15:hover .mdistrib4 {
    fill: #CC4754;
}

#md15:hover text {
    opacity: 1;
}

#md14:hover .mdistrib4 {
    fill: #CC4754;
}

#md14:hover text {
    opacity: 1;
}

#md13:hover .mdistrib4 {
    fill: #CC4754;
}

#md13:hover text {
    opacity: 1;
}

#md12:hover .mdistrib4 {
    fill: #CC4754;
}

#md12:hover text {
    opacity: 1;
}

#md11:hover .mdistrib4 {
    fill: #CC4754;
}

#md11:hover text {
    opacity: 1;
}

#md10:hover .mdistrib4 {
    fill: #CC4754;
}

#md10:hover text {
    opacity: 1;
}

#md9:hover .mdistrib4 {
    fill: #CC4754;
}

#md9:hover text {
    opacity: 1;
}

#md8:hover .mdistrib4 {
    fill: #CC4754;
}

#md8:hover text {
    opacity: 1;
}

#md7:hover .mdistrib4 {
    fill: #CC4754;
}

#md7:hover text {
    opacity: 1;
}

#md6:hover .mdistrib4 {
    fill: #CC4754;
}

#md6:hover text {
    opacity: 1;
}

#md5:hover .mdistrib4 {
    fill: #CC4754;
}

#md5:hover text {
    opacity: 1;
}

#md4:hover .mdistrib4 {
    fill: #CC4754;
}

#md4:hover text {
    opacity: 1;
}

#md3:hover .mdistrib4 {
    fill: #CC4754;
}

#md3:hover text {
    opacity: 1;
}

#md2:hover .mdistrib4 {
    fill: #CC4754;
}

#md2:hover text {
    opacity: 1;
}

#md1:hover .mdistrib4 {
    fill: #CC4754;
}

#md1:hover text {
    opacity: 1;
}


/*recipient*/

#africa:hover .st0 {
    fill: #EFEAE2;
    opacity: 1;
}

#africa:hover .st1 {
    fill: #D83E4A;
    opacity: 1;
}

#africa:hover .st6 {
    fill: #D83E4A;
    opacity: 1;
}

#africa:hover .st7 {
    opacity: 1;
}

#africa:hover .st10 {
    fill-opacity: 1;
    fill: #DA4656;
}


}
#asia:hover .st0 {
    fill: #EFEAE2;
    opacity: 1;
}
#asia:hover .st1 {
    fill: #D83E4A;
    opacity: 1;
}
#asia:hover .st6 {
    fill: #D83E4A;
    opacity: 1;
}
#asia:hover .st7 {
    opacity: 1;
}
#asia:hover .st10 {
    fill-opacity: 1;
    fill: #DA4656;
}
#esaterneurope:hover .st0 {
    fill: #EFEAE2;
    opacity: 1;
}
#esaterneurope:hover .st1 {
    fill: #D83E4A;
    opacity: 1;
}
#esaterneurope:hover .st6 {
    fill: #D83E4A;
    opacity: 1;
}
#esaterneurope:hover .st7 {
    opacity: 1;
}
#esaterneurope:hover .st10 {
    fill-opacity: 1;
    fill: #DA4656;
}
#latinAmerica:hover .st0 {
    fill: #EFEAE2;
    opacity: 1;
}
#latinAmerica:hover .st1 {
    fill: #D83E4A;
    opacity: 1;
}
#latinAmerica:hover .st6 {
    fill: #D83E4A;
    opacity: 1;
}
#latinAmerica:hover .st7 {
    opacity: 1;
}
#latinAmerica:hover .st10 {
    fill-opacity: 1;
    fill: #DA4656;
}
#multiregional:hover .st0 {
    fill: #EFEAE2;
    opacity: 1;
}
#multiregional:hover .st1 {
    fill: #D83E4A;
    opacity: 1;
}
#multiregional:hover .st6 {
    fill: #D83E4A;
    opacity: 1;
}
#multiregional:hover .st7 {
    opacity: 1;
}
#multiregional:hover .st10 {
    fill-opacity: 1;
    fill: #DA4656;
}
#otherglobalP:hover .st0 {
    fill: #EFEAE2;
    opacity: 1;
}
#otherglobalP:hover .st1 {
    fill: #D83E4A;
    opacity: 1;
}
#otherglobalP:hover .st6 {
    fill: #D83E4A;
    opacity: 1;
}
#otherglobalP:hover .st7 {
    opacity: 1;
}
#otherglobalP:hover .st10 {
    fill-opacity: 1;
    fill: #DA4656;
}
#unspecified:hover .st0 {
    fill: #EFEAE2;
    opacity: 1;
}
#unspecified:hover .st1 {
    fill: #D83E4A;
    opacity: 1;
}
#unspecified:hover .st6 {
    fill: #D83E4A;
    opacity: 1;
}
#unspecified:hover .st7 {
    opacity: 1;
}
#unspecified:hover .st11 {
    opacity: 1;
}
#unspecified:hover .st10 {
    fill-opacity: 1;
    fill: #DA4656;
}

/*institution*/

/*party*/
#party {
    width: 100%;
    margin-top: -90px;
    margin-left: -100px;
}
#PC:hover .p23 {
    opacity: 1;
}
#PC:hover .p26 {
    opacity: 1;
}
#PC:hover .p27 {
    opacity: 1;
}
#PC:hover .p19 {
    opacity: 1;
}
#PC:hover .p33 {
    opacity: 1;
}
#ET:hover .p23 {
    opacity: 1;
}
#ET:hover .p26 {
    opacity: 1;
}
#ET:hover .p27 {
    opacity: 1;
}
#ET:hover .p19 {
    opacity: 1;
}
#ET:hover .p33 {
    opacity: 1;
}
#PR:hover .p23 {
    opacity: 1;
}
#PR:hover .p25 {
    opacity: 1;
}
#PR:hover .p26 {
    opacity: 1;
}
#PR:hover .p27 {
    opacity: 1;
}
#PR:hover .p19 {
    opacity: 1;
}
#PR:hover .p33 {
    opacity: 1;
}

/*BIMULTI*/
.svgFlow {
    width: 95%;
    position: absolute;
    top: -950px;
    margin-left: -35px;
}
#USA_x5F_18:hover .f0 {
    opacity: 1;
}
#USA_x5F_18:hover .f4 {
    opacity: 1;
}
#USA_x5F_18:hover .f7 {
    opacity: 1;
}
#USA_x5F_18:hover .f11 {
    opacity: 1;
}
#USA_x5F_18:hover .f12 {
    opacity: 1;
}
#UK_x5F_17:hover .f0 {
    opacity: 1;
}
#UK_x5F_17:hover .f4 {
    opacity: 1;
}
#UK_x5F_17:hover .f7 {
    opacity: 1;
}
#UK_x5F_17:hover .f11 {
    opacity: 1;
}
#UK_x5F_17:hover .f12 {
    opacity: 1;
}
#Swiss_x5F_16:hover .f0 {
    opacity: 1;
}
#Swiss_x5F_16:hover .f4 {
    opacity: 1;
}
#Swiss_x5F_16:hover .f7 {
    opacity: 1;
}
#Swiss_x5F_16:hover .f11 {
    opacity: 1;
}
#Swiss_x5F_16:hover .f12 {
    opacity: 1;
}
#Sweden_x5F_15:hover .f0 {
    opacity: 1;
}
#Sweden_x5F_15:hover .f4 {
    opacity: 1;
}
#Sweden_x5F_15:hover .f7 {
    opacity: 1;
}
#Sweden_x5F_15:hover .f11 {
    opacity: 1;
}
#Sweden_x5F_15:hover .f12 {
    opacity: 1;
}
#Spain_x5F_14:hover .f0 {
    opacity: 1;
}
#Spain_x5F_14:hover .f4 {
    opacity: 1;
}
#Spain_x5F_14:hover .f7 {
    opacity: 1;
}
#Spain_x5F_14:hover .f11 {
    opacity: 1;
}
#Spain_x5F_14:hover .f12 {
    opacity: 1;
}
#Portugal_x5F_13:hover .f0 {
    opacity: 1;
}
#Portugal_x5F_13:hover .f4 {
    opacity: 1;
}
#Portugal_x5F_13:hover .f7 {
    opacity: 1;
}
#Portugal_x5F_13:hover .f11 {
    opacity: 1;
}
#Portugal_x5F_13:hover .f12 {
    opacity: 1;
}
#Others_x5F_12:hover .f0 {
    opacity: 1;
}
#Others_x5F_12:hover .f4 {
    opacity: 1;
}
#Others_x5F_12:hover .f7 {
    opacity: 1;
}
#Others_x5F_12:hover .f11 {
    opacity: 1;
}
#Others_x5F_12:hover .f12 {
    opacity: 1;
}
#Norway_x5F_11:hover .f0 {
    opacity: 1;
}
#Norway_x5F_11:hover .f4 {
    opacity: 1;
}
#Norway_x5F_11:hover .f7 {
    opacity: 1;
}
#Norway_x5F_11:hover .f11 {
    opacity: 1;
}
#Norway_x5F_11:hover .f12 {
    opacity: 1;
}
#Japan_x5F_10:hover .f0 {
    opacity: 1;
}
#Japan_x5F_10:hover .f4 {
    opacity: 1;
}
#Japan_x5F_10:hover .f7 {
    opacity: 1;
}
#Japan_x5F_10:hover .f11 {
    opacity: 1;
}
#Japan_x5F_10:hover .f12 {
    opacity: 1;
}
#Ita_x5F_9:hover .f0 {
    opacity: 1;
}
#Ita_x5F_9:hover .f4 {
    opacity: 1;
}
#Ita_x5F_9:hover .f7 {
    opacity: 1;
}
#Ita_x5F_9:hover .f11 {
    opacity: 1;
}
#Ita_x5F_9:hover .f12 {
    opacity: 1;
}
#Greece_x5F_8:hover .f0 {
    opacity: 1;
}
#Greece_x5F_8:hover .f4 {
    opacity: 1;
}
#Greece_x5F_8:hover .f7 {
    opacity: 1;
}
#Greece_x5F_8:hover .f11 {
    opacity: 1;
}
#Greece_x5F_8:hover .f12 {
    opacity: 1;
}
#Germ_x5F_7:hover .f0 {
    opacity: 1;
}
#Germ_x5F_7:hover .f4 {
    opacity: 1;
}
#Germ_x5F_7:hover .f7 {
    opacity: 1;
}
#Germ_x5F_7:hover .f11 {
    opacity: 1;
}
#Germ_x5F_7:hover .f12 {
    opacity: 1;
}
#France_x5F_6:hover .f0 {
    opacity: 1;
}
#France_x5F_6:hover .f4 {
    opacity: 1;
}
#France_x5F_6:hover .f7 {
    opacity: 1;
}
#France_x5F_6:hover .f11 {
    opacity: 1;
}
#France_x5F_6:hover .f12 {
    opacity: 1;
}
#Finland_x5F_5:hover .f0 {
    opacity: 1;
}
#Finland_x5F_5:hover .f4 {
    opacity: 1;
}
#Finland_x5F_5:hover .f7 {
    opacity: 1;
}
#Finland_x5F_5:hover .f11 {
    opacity: 1;
}
#Finland_x5F_5:hover .f12 {
    opacity: 1;
}
#Denmark_x5F_4:hover .f0 {
    opacity: 1;
}
#Denmark_x5F_4:hover .f4 {
    opacity: 1;
}
#Denmark_x5F_4:hover .f7 {
    opacity: 1;
}
#Denmark_x5F_4:hover .f11 {
    opacity: 1;
}
#Denmark_x5F_4:hover .f12 {
    opacity: 1;
}
#Canada_x5F_3:hover .f0 {
    opacity: 1;
}
#Canada_x5F_3:hover .f4 {
    opacity: 1;
}
#Canada_x5F_3:hover .f7 {
    opacity: 1;
}
#Canada_x5F_3:hover .f11 {
    opacity: 1;
}
#Canada_x5F_3:hover .f12 {
    opacity: 1;
}
#belg_x5F_2:hover .f0 {
    opacity: 1;
}
#belg_x5F_2:hover .f4 {
    opacity: 1;
}
#belg_x5F_2:hover .f7 {
    opacity: 1;
}
#belg_x5F_2:hover .f11 {
    opacity: 1;
}
#belg_x5F_2:hover .f12 {
    opacity: 1;
}
#Aus_x5F_1:hover .f0 {
    opacity: 1;
}
#Aus_x5F_1:hover .f4 {
    opacity: 1;
}
#Aus_x5F_1:hover .f7 {
    opacity: 1;
}
#Aus_x5F_1:hover .f11 {
    opacity: 1;
}
#Aus_x5F_1:hover .f12 {
    opacity: 1;
}

/*recipient*/
#recipient {
    width: 90%;
    margin-left: 116px;
}
#ida:hover .r17 {
    opacity: 1;
}
#ida:hover .r21 {
    opacity: 1;
}
#ida:hover .r25 {
    opacity: 1;
}
#wb:hover .r17 {
    opacity: 1;
}
#wb:hover .r21 {
    opacity: 1;
}
#wb:hover .r25 {
    opacity: 1;
}
#edf:hover .r17 {
    opacity: 1;
}
#edf:hover .r21 {
    opacity: 1;
}
#edf:hover .r25 {
    opacity: 1;
}
#eib:hover .r17 {
    opacity: 1;
}
#eib:hover .r21 {
    opacity: 1;
}
#eib:hover .r25 {
    opacity: 1;
}
#eu:hover .r17 {
    opacity: 1;
}
#eu:hover .r21 {
    opacity: 1;
}
#eu:hover .r25 {
    opacity: 1;
}
#adb:hover .r17 {
    opacity: 1;
}
#adb:hover .r21 {
    opacity: 1;
}
#adb:hover .r25 {
    opacity: 1;
}
#cif:hover .r17 {
    opacity: 1;
}
#cif:hover .r21 {
    opacity: 1;
}
#cif:hover .r25 {
    opacity: 1;
}
#adf:hover .r17 {
    opacity: 1;
}
#adf:hover .r21 {
    opacity: 1;
}
#adf:hover .r25 {
    opacity: 1;
}
#afdb:hover .r17 {
    opacity: 1;
}
#afdb:hover .r21 {
    opacity: 1;
}
#afdb:hover .r25 {
    opacity: 1;
}
#undp:hover .r17 {
    opacity: 1;
}
#undp:hover .r21 {
    opacity: 1;
}
#undp:hover .r25 {
    opacity: 1;
}
#other-2:hover .r17 {
    opacity: 1;
}
#other-2:hover .r21 {
    opacity: 1;
}
#other-2:hover .r25 {
    opacity: 1;
}
#institution {
    width: 82%;
    margin-top: 200px;
    margin-left: 113px;
}
#WB:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#WB:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#WB:hover text {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#IDA:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#IDA:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#UNDP:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#UNDP:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#ADB:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#ADB:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#ADF:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#ADF:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#CIF:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#CIF:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#EU:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#EU:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#EIB:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#EIB:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#EDF:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#EDF:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#ADB-2:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#ADB-2:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
#OTHER:hover .ins4 {
    fill: #d94656;
    stroke: #d94656;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
#OTHER:hover .ins5 {
    opacity: 1;
    font-size: 14px;
    fill: #d94656;
}
