<style>

body {
font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
}



.affix {
      top: -0%;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
.navbar-inverse {
    background-color: #eae8e8;
    border-color: transparent;
    color: #df3011;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #df3011;
    opacity:1;
    text-decoration: underline;
  background-color: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #df3011;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #df3011;
    opacity:0.6;
    background-color: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #df3011;
    opacity:1;
}

.navbar-inverse .navbar-nav>li>a:active {
    color: #df3011;
    opacity: 1;
    text-decoration: underline;
    font-weight: bold;
    
}

.navbar-inverse:hover {
    background-color:#eae8e8;
    border-color: transparent;
    color: #df3011;
}

nav{
    text-align: center;
    background-color: trasparent;
    border-color: transparent;
    z-index: 99999;
    padding:0em 0em;
    color: #df3011;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: transparent;
    z-index: 99999;
    color: #df3011;
    
}

ul {
    background-color: transparent;
    text-align: center;
    z-index: 99999;
    background-color: transparent;
    color: #df3011;

}

ul li {
    display: inline-block;
    margin-left: 12em;
    margin-top: 1em;
    text-align: center;
    z-index: 99999;
font-family:'Roboto Mono', monospace;
    font-size: 1em;
    color: #df3011;
    
    }

a {
    text-transform: capitalize;
    text-decoration: none;
    color: #df3011;
    opacity: 0.6;
    font-family:'Roboto Mono', monospace;
    font-size: 1em;
    background-color: transparent;
    margin-top:-1em;
   
}

a:hover{
    color: #df3011;
    opacity: 1;
}

a:active{
    color: #df3011;
}

.nav>li>a:hover {
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 500;
    color:#df3011;
    background-color: #eae8e8;
}


.nav>li>a:active {
    text-transform: capitalize;
    text-decoration: underline;
    color: #df3011;
    z-index: 99999;!important
    background-color: #eae8e8;
    border: none;
}


.parallax4 h2{
    margin-top:5em;
    text-align: center;
   font-family: 'Lato', sans-serif;
    font-size: 50px;
    color:#df3011;
}

.parallax4 h5{
    margin-top:6em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color:#df3011;
    opacity: 1;
    padding: 1em;
}



.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: 260px;
  
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #df3011;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}




.parallax4 h2{
    margin-top:5em;
    text-align: center;
   font-family: 'Lato', sans-serif;
    font-size: 5em;
    color:#df3011;
}

.parallax4 h5{
    margin-top:7em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color:#df3011;
    opacity: 1;
    padding: 1em;
}

.pagina3_0 h4{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color:#848484;
    margin-top: 1em;
    text-align: center;
    line-height: 2em;
    margin-bottom:2em;
}

.pagina3_0 h2{
    margin-top:3em;
    text-align: center;
   font-family: 'Lato', sans-serif;
    font-size: 40px;
    color:#df3011;
}
.pagina3_0 p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color:#df3011;
    font-size: 35px;
    margin-top: 3em;
}



.button {
    margin-top: 1em;
    width: 15%;
    height: 0%;
    background-color:transparent;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer; 
    border-radius: 3px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 1.5em;
}

.button4 {
    width:40%;
    background-color: white;
    color: green;
    height: 100px;
    border-color: white;
    border: 3px solid green;
    opacity: 1;
    margin-left: 6em;
    margin-top:4.2em;
}

.button4:hover{
    background-color: green;
    color:white;
    opacity: 1;
}


.pagina3_ h2{
    margin-top:3em;
    text-align: center;
   font-family: 'Lato', sans-serif;
    font-size: 40px;
    color:#df3011;
}



.pagina3_ h4{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color:#848484;
    margin-top: 2em;
    line-height: 2em;
    margin-bottom:2em;
}



.pagina3bis h2{
    margin-top:3em;
    text-align: center;
   font-family: 'Lato', sans-serif;
    font-size: 40px;
    color:#df3011;
}

.pagina3bis h6{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color:#df3011;
    margin-top: 2em;
    text-align: center;
    line-height: 2em;
    margin-bottom:2em;
    text-decoration: underline;
}

.pagina3bis h4{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color:#848484;
    margin-top: 2em;
    text-align: center;
    line-height: 2em;
    margin-bottom:2em;
}






.pagina_9 {
    width:100%; 
}

.pagina_9 h4 { 
    font-family: 'Roboto mono', monospace;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.2em;
    color: #df3011;
}

.pagina_9 img {
    margin-top: 1em;
    width:100%;
    padding:1em;
    margin-left: -1em;
}


